<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title th:text="${articleTitle}"></title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/clean-blog.min.css" th:href="@{/css/clean-blog.min.css}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <div th:replace="frame :: nav"></div>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')" th:style="'background:url(' + @{/img/post-bg.jpg} + ');'">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1 th:utext="${articleTitle}"></h1>
<!--            <h2 class="subheading" th:utext="'tags: '+ ${tags}"></h2>-->
            <span class="meta">Posted by
              <a href="#" th:text="${articleAuthor}"></a>
              on [[${#dates.format(createTime, 'yyyy-MM-dd HH:mm')}]]</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" th:utext="${articleContent}">
        </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Footer -->
  <div th:replace="frame :: footer"></div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js" th:src="@{/js/clean-blog.min.js}"></script>

  <script type="text/javascript" th:src="@{/js/jquery.goup.min.js}"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $.goup({
        trigger: 100,
        bottomOffset: 150,
        locationOffset: 100,
        title: '',
        titleAsText: true
      });
    });
  </script>
</body>

</html>
