<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.kuailefeizhaijidi.blog.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plus.kuailefeizhaijidi.blog.entity.Article">
        <id column="article_id" property="articleId" />
        <result column="category_id" property="categoryId" />
        <result column="user_id" property="userId" />
        <result column="tags" property="tags" />
        <result column="article_title" property="articleTitle" />
        <result column="article_author" property="articleAuthor" />
        <result column="article_desc" property="articleDesc" />
        <result column="article_content" property="articleContent" />
        <result column="article_markdown" property="articleMarkdown" />
        <result column="public_status" property="publicStatus" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <sql id="selectSql">
        SELECT
        a.`article_id` AS articleId,
        a.`category_id` AS categoryId,
        c.`category_name` AS categoryName,
        a.`tags` AS tags,
        a.`article_title` AS articleTitle,
        a.`article_author` AS articleAuthor,
        a.`article_desc` AS articleDesc,
        a.`article_content` AS articleContent,
        a.`article_markdown` AS articleMarkdown,
        a.`public_status` AS publicStatus,
        a.`create_time` AS createTime,
        a.`update_time` AS updateTime
        FROM article a
        LEFT JOIN category c on a.category_id = c.category_id
    </sql>
    <select id="pageVo" resultType="plus.kuailefeizhaijidi.blog.entity.vo.ArticleVo">
        SELECT
            a.`article_id` AS articleId,
            a.`category_id` AS categoryId,
            c.`category_name` AS categoryName,
            a.`tags` AS tags,
            a.`article_title` AS articleTitle,
            a.`article_author` AS articleAuthor,
            a.`article_desc` AS articleDesc,
            a.`public_status` AS publicStatus,
            a.`create_time` AS createTime,
            a.`update_time` AS updateTime
        FROM article a
        LEFT JOIN category c on a.category_id = c.category_id
        <where>
            a.user_id = #{userId}
            <if test="w.status!=null">
                AND a.`public_status` = #{w.status}
            </if>
            <if test="w.keyword!=null and w.keyword!=''">
                AND a.`article_title` like concat('%',#{w.keyword},'%')
            </if>
            <if test="w.startDate!=null and w.startDate!=''">
                AND a.`create_time` >= #{w.startDate}
            </if>
            <if test="w.endDate!=null and w.endDate!=''">
                AND a.`create_time` <![CDATA[ <= ]]> #{w.endDate}
            </if>
        </where>
        order by a.`create_time` desc
    </select>

    <select id="selectVo" resultType="plus.kuailefeizhaijidi.blog.entity.vo.ArticleVo">
        <include refid="selectSql"/>
        Where a.`article_id` = #{articleId}
    </select>

</mapper>
